.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/

data/raw/*.csv
data/silver/**
data/gold/**
!data/raw/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

*.duckdb
*.duckdb.wal
*.duckdb.tmp

dbt_finance/logs/
dbt_finance/target/
dbt_finance/dbt_packages/
dbt_finance/profiles.yml
dbt_finance/.user.yml

.DS_Store
.idea/
.vscode/
